<p>
  Петиция:
</p>
<p>
  <strong>Title:</strong>
  <%= @petition.title %>
</p>
<p>
<h6><%= @petition.created_at.strftime("%d/%m/%Y %H:%M") %></h6>
</p> 
<p>
<%= @petition.text %>
</p>
<p>
<strong>Голосов: </strong>
</p>
<p>
<%= button_to "Поддержать", vote_path(user_id: @petition.user.id, petition_id: @petition) %>
</p>