<p>
  Петиция:
</p>
<p>
  <strong>Title:</strong>
  <%= @petition.title %>
</p>
<p>
<h6><%= @petition.created_at.strftime("%d/%m/%Y %H:%M") %></h6>
</p> 
<p>
<%= @petition.text %>
</p>
<p>
<strong>Голосов: </strong>
</p>
<p>
<%= button_to "Поддержать", upvote_petition_path(@petition), method: :post %>
</p>